[Unit]
Description=Treebeard Router
Requires=network.target
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/cc/treebeard/router/router -routerid {{ item.id }} -ip {{ item.local_bind_ip }} -port {{ item.port }} -conf /home/cc/treebeard/ -logpath /home/cc/treebeard/router/{{ item.id }}/all.log
Restart=on-failure

[Install]
WantedBy=multi-user.target